:root{
    --orange: #EB6440;
    --black-low: #1E1E1E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 833px;
    background-color: var(--orange);
    height: 80px;
}

header img{
    width: 70px;
}

header .login-buttons{
    display: flex;
    gap: 66px;
}

header .login-buttons a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: var(--black-low);
    text-decoration: none;
    font-weight: bolder;
}

.container{
    margin: 80px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.three-images, .one-image, .two-images{
    max-width: 1200px;
}

.three-images img{
    width: 397px;
    height: 640px;
}

.two-images img{
    width: 598px;
    height: 640px;
}

.one-image img{
    width: 1200px;
    height: 640px;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

@media (max-width:900px){
    .three-images img{
        width: 264px;
        height: 390px;
    }
    
    .two-images img{
        width: 398px;
        height: 390px;
    }
    
    .one-image img{
        width: 800px;
        height: 390px;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 400px;
        background-color: var(--orange);
        height: 80px;
    }

    header .login-buttons{
        display: flex;
        gap: 20px;
    }
}

@media (max-width:450px){
    .three-images img{
        width: 115px;
        height: 174px;
    }
    
    .two-images img{
        width: 174px;
        height: 174px;
    }
    
    .one-image img{
        width: 352px;
        height: 174px;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 130px;
        background-color: var(--orange);
        height: 80px;
    }

    header .login-buttons{
        display: flex;
        gap: 20px;
    }

    header img{
        width: 60px;
    }

    header .login-buttons a{
        font-size: 14pt;
    }

    footer{
        font-size: 14pt;
    }
}